.input_line_viewer_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
}

.input_line_viewer_container .o_control_panel {
    grid-column: 1;
    grid-row-start: 1;
}

.input_line_viewer_container .o_content {
    grid-column-start: 1;
    grid-row-start: 1;
}

.input_line_viewer_container .ilv_list {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 2;
    overflow: auto;
    height: 100%;
}

.input_line_viewer_container .input_line_form {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.input_line_form > div {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 3px;
}

.input_line_form .input_line_alert {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px;
    border: solid 1px #b30000;
    border-radius: 3px;
    color: #ffffff;
    background: #f48498;
}

.input_line_form select {
    border-radius: 3px;
    padding-right: 10px;
    background-position-x: right 14px;
    border: 1px solid #cccccc;

    &:focus {
        border-color: #71639e;
    }
}

.input_line_form .button_bar {
    grid-column-start: 1;
    display: flex;
    gap: 10px;
}
